[2017-11-06 03:23] xxhomey19 opened #1 "better UX"
1. customize --help
2. better default option

[2017-11-06 05:48] #1 closed

[2017-11-06 05:49] xxhomey19 opened #2 "Fix timezone problem"

[2017-11-06 13:42] cagross commented on #2
Hey I saw this on Reddit, and it looks like a fun project.  I'm an NBA fan and have been looking for an open source project I can contribute to.  But I'm looking for something that requires JavaScript or PHP (or CSS/HTML, but I don't think your project utilizes those).  Would this particular issue/project require either of those?  Perhaps JS, as I see a JS file in your repo?

[2017-11-06 14:03] xxhomey19 commented on #2
Hi @cagross,
Yes, I believe this issue should be resolved by some kinds of npm package, which means it will be built by JS. This project is also built by JS, and I think it won't need CSS or HTML at this moment.

[2017-11-06 14:23] cagross commented on #2
OK cool.  I tried to get started with the [Getting Started tutorial](https://www.npmjs.com/package/nba-go/tutorial).  I managed to install Node on my computer (Win 10, x64), and I also installed the nba-go package (I can confirm there is an 'nba-go' directory in /node_modules/). But when I try to run any command, I encounter a “command not found" error.  Thoughts on what I'm doing wrong?  I encoun

[2017-11-06 14:38] aleksandar-todorovic opened #3 "Proposal: `standings`"
Hi,

I propose `standings` as a missing feature that would be highly useful. It would provide the relevant standings, split into conferences and divisions.

For example:

* `nba-go standings` shows the top 8 teams in both conferences.
* `nba-go standings east` shows the entire Eastern conference.
* `nba-go standings west` shows the entire Western conference.
* `nba-go standings -d Atlantic` shows

[2017-11-06 14:51] xxhomey19 commented on #3
Sure, this is a good suggestion. I'll provide this feature as soon as possible.
Btw, PR is welcome.

[2017-11-06 14:58] xxhomey19 commented on #2
Hi, well, I haven't used Windows computer for few years, so I don't know how to resolve it exactly.
Maybe you can google something like "Windows npm install global command not found".
There will have some warnings when you installed it, and it's fine. It may caused by some dependencies, but it won't make this CLI crash. So, just leave it.

[2017-11-06 15:35] cagross commented on #2
OK I got it working.  I Googled your suggestion and found [this post](https://stackoverflow.com/questions/9587665/nodejs-cannot-find-installed-module-on-windows) which indicates I need to ensure the Node binaries are in a directory specified by my PATH.  I had no idea how to edit my path, but then found [this page](http://www.chambaud.com/2013/07/08/adding-git-to-path-when-using-github-for-windows

[2017-11-06 16:12] xxhomey19 commented on #2
Cool!
Sorry about that the title of this issue is not precise enough. Why I opened this issue is I found that I have to enter `nba-go game -y` to get "today's" game schedule. That is because I'm in Asia. My timezone is UTC +8 which is much different from ET timezone. Therefore, I hope this issue could fix this problem. No matter which timezone users lives in, when they enter `nba-go game -t`, they

[2017-11-06 18:10] cagross commented on #2
OK I see your issue.  Couldn't we resolve the issue by obtaining current UTC (using `Date().getTime()`), instead of grabbing the user's time zone?  If we grab UTC, then we can calculate current US east coast day/time.  Then we can use the US east coast day/time to fetch the requested schedule.  Does that make sense?  Let me try to explain further.

What I am proposing is essentially what nba.com d

[2017-11-06 20:22] cacheflow commented on #3
I'm down to try to tackle this feature.

[2017-11-07 01:19] xxhomey19 commented on #2
Yes! This solution should work.
Just do your best and send a pull request to this repo. I'll check it out at that moment!
Thanks for all your help.

[2017-11-07 02:46] xxhomey19 opened #4 "Check version"
Check user whether install `nba-go` latest version.

[2017-11-07 02:49] CodyCahoon opened #5 "Proposal: Team Information"
It would be cool to be able to see a team's record and past games. Maybe something like the following, using `t` and `team`

[code]

This could also be extended for certain seasons such as wanting to see how the Cavaliers did in a specific season, or in 2015, using `-y` and `--year`

[code]

[2017-11-07 02:56] xxhomey19 commented on #5
This would be cool, and I believe the API `nba-go` used has team data for sure.
Let me know if you would like to tackle this feature, PR is welcome! Or I'll do it as ASAP.

[2017-11-07 02:57] CodyCahoon commented on #5
I can tackle it, will post a PR!

[2017-11-07 03:06] xxhomey19 commented on #5
Thanks for your help!

[2017-11-07 06:19] #4 closed

[2017-11-07 12:49] jankoprowski opened #8 "Script does not work through proxy"
I'm behind proxy and script does not seem to work. I'm guessing that is the reason.

[2017-11-07 14:18] JacobEvelyn opened #9 "Tiny bug"
Hey! This looks really neat. I haven't looked into the code at all so apologies if this is already fixed, but I figured I'd let you know that in the README this gif says "Seth Seth" instead of "Seth Curry." Not sure if that bug is elsewhere or not.

![player -p gif](https://user-images.githubusercontent.com/12113222/32416909-03e46ea8-c28c-11e7-84af-4b40895d2054.gif)

Hope that's helpful, and good

[2017-11-07 14:34] xxhomey19 commented on #9
Thanks for your notification!
I just fixed this bug few hours ago, but I forgot to change the GIF file in README haha.
I'll fix it.

[2017-11-07 15:01] #9 closed

[2017-11-07 15:34] pahakalle commented on #8
Can you open [stats.nba.com](http://stats.nba.com/) while using the proxy?

[2017-11-07 16:03] popey opened #10 "Can't build from source"
Trying to build nba-go from source, but I get this:-

[code]

Is this possibly related to https://github.com/xxhomey19/nba-go/commit/7c70fab151e7e01d4bca640bfa20d933dd3b05bf with files being in the wrong directory?

[2017-11-07 16:36] lifayt commented on #10
Building from source:

`yarn build`

Then from the root directory, you can run:

`node lib/cli.js <command>`

and you will see whatever changes you've made.

[2017-11-07 16:38] karambaq opened #11 "Some glyphs doesn't displays."
Hello, great cli app! I'm huge fan of nba and first of all want to say thank you!
I think screenshot says all. Which font I should use to display it?
Sorry for my english, it's my second language.

![image](https://user-images.githubusercontent.com/14233969/32505446-3f1f8fe4-c3f3-11e7-90c0-d6d0c8f148d2.png)

[2017-11-07 16:46] xxhomey19 commented on #11
Hi @karambaq ,
It's OK. English is also my second language haha.
Those squares are emoji. I tried [iterm2](https://www.iterm2.com/) and [hyper](https://github.com/zeit/hyper), and they both show emoji correctly.
What kind of terminal do you use?

[2017-11-07 16:50] YuviShatil opened #12 "Proposal: broadcasts"
I would like to see which games are televised in my area, or which games are nationally televised. I will look into an API for this and try to tackle it myself.

P.S. @xxhomey19 this is awesome, keep up the good work!

[2017-11-07 17:04] karambaq commented on #11
@xxhomey19 It's urxvt, I'm using Linux

[2017-11-07 17:06] xxhomey19 commented on #12
Hi @YuviShatil ,
Sure! PR is always welcome.

[2017-11-07 17:13] xxhomey19 commented on #11
@karambaq I found this. Maybe it could help.
https://stackoverflow.com/questions/40586304/some-terminal-cant-display-emoji-correctly

Let me know whether you have solved it.
Thanks!

[2017-11-07 17:39] popey commented on #10
Thanks for the prompt reply! I cloned it from github and built it. I'm trying to build a snap [1] for upload to the snap store, to make it easy for Linux users to get hold of your app. I've not used yarn with snapcraft before, so talking to our expert @elopio about it.

[1] - http://snapcraft.io/

[2017-11-07 18:22] karambaq commented on #11
unfortunately, don't help :(
Only this result with adding Symbola font as fallback
![image](https://user-images.githubusercontent.com/14233969/32510450-b40e410c-c401-11e7-8d1e-426c9e0eacbc.png)

[2017-11-07 20:19] thistehneisen opened #16 "Unexpected token"
[code]

[2017-11-07 23:23] emyarod commented on #16
I am unable to replicate this issue. Which version of node are you using?

[2017-11-08 00:04] tnsengimana opened #18 "Proposal: Ability to search players"
It would be great to be able to search for players based on some attributes. Basically, something like this:

[code]
Operators can optionally be improved to allow complex comparison (i.e. `greater`, `greater or equal`, `less`, and `less or equal`)

[2017-11-08 00:31] xxhomey19 commented on #11
Oh that's bad...
Keep this issue open and hope someone could fix this problem.

Btw, other features work well in your terminal?

[2017-11-08 01:02] ravendark commented on #16
im getting the same thing, nodejs is 4.2.6 from ubuntu 16.04 repo

[2017-11-08 01:21] ishaantaylor opened #19 "Proposal: Live advanced real time player statistics"
More advanced real time player statistics in Box Score, and show all players.

Turnovers, FG/FGA, 3PT/3PA, Fouls, TS%, +/-, Blocks, Steals,

These additions will make this cli complementary to actually watching the game.

[2017-11-08 01:55] IronBlood opened #20 "Special characters are not decoded yet"
For example `AT&A` is displayed as `AT&amp;T`.

[2017-11-08 02:10] xxhomey19 commented on #20
That's definitely a bug.
PR is welcome, or I will try to fix it.

[2017-11-08 02:25] xxhomey19 commented on #19
I understand that showing more information should be better, but I don't know if user's screen has enough space to show all data or not. I will try adjusting width ratio between play-by-play and player box score.
Let me know if you would like to do this. PR is always welcome 😄 .

[2017-11-08 02:53] emyarod commented on #16
yeah I think it has to do with older node versions not being able to do destructuring assignment, but I could be wrong

[2017-11-08 03:46] kevinkaske commented on #16
I'm also seeing this issue. I'm on Node v5.1.1 on MacOS 10.11.

[2017-11-08 03:50] kevinkaske commented on #16
Upgrading node to v6.11.3 seems to have fixed the issue.

[2017-11-08 03:52] xxhomey19 commented on #16
Hi all,
I build this project by [Babel](https://babeljs.io/) and configure `babel-preset-env` for node version 6.0.0 in [.babelrc](https://github.com/xxhomey19/nba-go/blob/master/.babelrc).
So, upgrading node version above 6.0.0 should fix  this issue.

[2017-11-08 04:28] emyarod commented on #16
Thanks for confirming @xxhomey19. Just curious, how come you are targeting Node version 6? Isn't `babel-preset-env` capable of transpiling down to support any node version?

[2017-11-08 06:52] xxhomey19 commented on #16
According to https://github.com/nodejs/Release#lts_schedule
Node v4.X will not be maintained after April 2018. Therefore, I think using v6 is better.

It seems like the problem is resolved. Close this issue.

[2017-11-08 06:52] #16 closed

[2017-11-08 10:48] purezhi opened #24 "Install error"
when i install it with `npm install nba-go -g`, i got errors as follows,

any tips?
thx.

[2017-11-08 14:27] xxhomey19 commented on #24
Hi @purezhi ,
I think this is not a problem with nba-go.
Try to upgrade or downgrade node and npm. This might work.

[2017-11-08 15:02] purezhi commented on #24
@xxhomey19 thx, i succeed after executing `npm cache clean --force`.

[2017-11-08 15:02] #24 closed

[2017-11-08 16:32] sebadiaz opened #25 "Error At my first use"
I did

sudo npm install -g nba-go
nba-go game -T
/usr/local/lib/node_modules/nba-go/node_modules/nba/src/team-info.js:28
  ]).then(function ([teamStats, teamYears]) {
                    ^

SyntaxError: Unexpected token [
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:

[2017-11-08 16:33] sebadiaz commented on #25
WARN engine nba-go@0.1.9: wanted: {"node":">=6.0.0"} (current: {"node":"4.7.2","npm":"3.5.2"})

[2017-11-08 16:44] cagross commented on #2
OK I'm back.  Sorry, real world work called.

I'm really keen on contributing to this project.  But I'm having difficulty starting.  Specifically, I have forked your repo, saved the files to my local computer, and installed node.js for Windows on my computer.  But I can't figure out how to run the program from the files I just downloaded.  When I try the command 'nba-go,' I encounter `bash: nba-go

[2017-11-08 16:46] xxhomey19 commented on #25
Hi @sebadiaz ,
Upgrade your node version above v6.0.0 . This should work.

[2017-11-08 18:25] gavrieltal opened #26 "nba-go 0.1.8 typeerror"
ran `nba-go game -t` on 2017/11/07, watched the Jazz/76ers game, then on 2017/11/08 got the same type error running `nba-go game` by itself, with the -t flag, with the -T flag, and with the -y flag. It says, TypeError:

Cannot read property 'games' of undefined

Oops, NBA_client.getGamesFromDate() goes wrong.
Please run nba-go again.

I tried a few more times. Apparently running -y, failing, and t

[2017-11-08 20:15] insanity54 commented on #25
I saw this issue as well. `nvm install v8.9.1 && nvm use v8.9.1 && !!`

[2017-11-09 00:55] xxhomey19 commented on #25
Hi all,
If you are still unable to install it, ping me and reopen this issue.

[2017-11-09 00:55] #25 closed

[2017-11-09 01:38] vypr opened #27 "Can't seem to scroll on MacOS/Hyper."
Hi, I'm using Hyper on Mac OS and can't seem to scroll down the box with any keys whatsoever?

[2017-11-09 02:26] jwz-ecust opened #28 "jet lag"
Did not consider the issue of jet lag.

[2017-11-09 02:30] xxhomey19 commented on #27
Hi @vypr ,
did you try click up and down arrow buttons?

[2017-11-09 02:33] xxhomey19 commented on #26
Hi @gavrieltal ,
that is pretty strange, are your network behind a proxy?
So, only -T works and the others don't?

[2017-11-09 02:41] aselamal commented on #2
@cagross @xxhomey19 With the today flag `-t` time is already generated correctly using `Date.now()` This is already an UTC based value (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/now)

The problem seems to come from the library [Nba stats client](https://github.com/jaebradley/nba-client/blob/master/src/NbaStatsClient.js) and how it uses moment.js to forma

[2017-11-09 03:01] xxhomey19 commented on #2
Hi @cagross ,
I have add development instruction is README. Try it out.

Hi @cagross ,
definitely, moment.js should be able to fix this problem!

[2017-11-09 03:02] #10 closed

[2017-11-09 03:02] xxhomey19 commented on #28
Hi @jwz-ecust ,
it seems similar to #2

[2017-11-09 07:21] rfreiberger opened #29 "Error while watching live game "UnhandledPromiseRejectionWarning""
This came up twice while watching the Warriors tonight.

`(node:11789) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot set property 'score' of undefined
(node:11789) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero ex

[2017-11-09 07:46] jhamet93 opened #30 "Track Players"
I know something I like to do (especially when doing fantasy) is track how my favorite players are doing rather than care about the overall context of the game or even grab the team I care about right away without going through the selection process.

nba-go game --filter team=Pistons
nba-go game --filter player=LeBron

If this sounds like a useful feature, I am going to submit a PR that supports

[2017-11-09 09:19] fuloating commented on #30
I would like something like that. I was thinking maybe when viewing a player with nba-go p markkanen -r, I could see his stats from last 3 or 5 or more games, and also show dates for the next upcoming games and who his team is going to play next. Now it just shows his current regular season avg's.

[2017-11-09 10:51] jankoprowski commented on #8
Of course :)

[2017-11-09 15:51] xxhomey19 commented on #29
Hi @rfreiberger ,
does your nba-go version upgrade to v0.1.9?

[2017-11-09 16:58] switz opened #31 "Default param"
Would be really nice if just running `nba-go` defaulted to `nba-go game`. Happy to send a PR if you're open to it.

Thanks for a really cool util!

[2017-11-10 03:13] xxhomey19 commented on #31
Hi @switz ,
I'm not sure whether setting a default command is a good idea or not. If user enters `nba-go -h`, what it should show? original `nba-go -h` or `nba-go game -h`?
Actually, if nba-go need a default command, I prefer just use `nba-go game -t`.
Hope for more discussion.

[2017-11-10 03:41] xxhomey19 commented on #20
It seems only "AT&T" has special characters. Other arenas, players or states don't has it.

[2017-11-10 03:49] xxhomey19 commented on #30
Hi all,
this will be awesome! PR is always welcome.

[2017-11-10 11:58] yusank opened #35 "Load game schedule failed"
First, Great tool，love it.

But when I run any `command` prefix of `nba-go game`, it alwanys show
[code]
And after a while, it print this message
[code]

Is it my network problem?
But when run `player` command, it works.

Is there any solution?,

[2017-11-10 12:02] yusank commented on #35
Here the response of the request
[code]
[code]
[code]

[2017-11-10 12:03] yusank commented on #35
[code]

[2017-11-10 12:27] yusank commented on #35
Now all commands works, may be it is my network problem.

[2017-11-10 12:27] #35 closed

[2017-11-10 17:40] jhamet93 commented on #30
cool @xxhomey19

I created a prototype implementation of filtering games by team so will submit that as a pull request to get some feedback before integrating it to more filter types.

[2017-11-11 05:42] sos418 commented on #20
Where have the `AT&T`? Can you give an example?

[2017-11-11 10:38] cagross commented on #2
Hi @xxhomey19,

Which instructions are you referring to?  I see in the README there is a new section, "Development."  It has the commands:

[code]
I tried those instructions. But when I entered `yarn` I encountered the usual error `bash: yarn: command not found`.  Thoughts?

I want to say the issue is related to the fact that my command line application (Git Bash) isn't looking in the correct dire

[2017-11-11 10:44] cagross commented on #28
Can you clarify what you mean by the issue of jet lag?  Are you referencing the issue that arises because not all users will be in the same time zone, therefore 'today's games' are different for different users?

[2017-11-11 10:52] jwz-ecust commented on #28
@cagross  Acutally, time difference between the United States and China makes me confused.

[2017-11-11 10:56] cagross commented on #28
OK right, I agree. I live in Thailand, so I also notice the issue.  As Homer mentioned, that is something I am trying to resolve with [issue #2](https://github.com/xxhomey19/nba-go/issues/2) .

[2017-11-11 11:03] jwz-ecust commented on #28
@cagross @xxhomey19  Thanks!🍺

[2017-11-11 14:31] xxhomey19 commented on #2
@cagross
yarn: https://yarnpkg.com/en/
Moment.js: https://momentjs.com/timezone/

[2017-11-11 14:44] cagross commented on #2
OK.  I installed Yarn, and tried your four 'Development' instructions.  Steps 1 and 2 completed without issue.   Step 3 completed with the following output:

[code]
But I am having an issue with Step 4.  I tried:

`$ NODE_ENV=development node bin/cli.js nba-go player Curry -p`

but was met with:

`Unknown command: nba-go`

Thoughts?

[2017-11-11 15:18] xxhomey19 commented on #2
No, you shouldn't enter nba-go.
Just enter
[code]

You should read more source code then you will understand.

[2017-11-11 16:31] fenek5 opened #37 "Listing all commands"
It would be really great to just type  (FEAUTURE)

`$ nba-go`

 and to see all the commands available with a simple description of what they do.

and why not display current ranking table

[2017-11-11 17:19] pedromql commented on #20
@sos418 when you list a Spurs home game.

example `nba-go game -d 2017/11/10` and select spurs vs bucks game.

![image](https://user-images.githubusercontent.com/5871634/32691757-7b3cdc48-c704-11e7-885c-33e9fd94feb8.png)

[2017-11-11 17:28] cagross commented on #2
OK, that worked.  Thanks very much for being patient.

I've worked on the issue, and made a small change that I think should resolve it.

But before I get to that, it looks like I'm encountering a separate issue.  It looks like there is an offset between when scores appear on nba.com, and when scores appear in nba-go.  To clarify, it is now 12:15 AM on 12 November in Thailand.  If I look at today'

[2017-11-11 18:28] pedromql commented on #2
@cagross it seems that you've ran `game -t` on the second screenshot instead of `game -y` as you state.

[2017-11-11 18:32] cagross commented on #2
Sorry, that was the wrong screenshot.  Here is the [correct screenshot](https://imgur.com/LoaT60E).

[2017-11-11 19:12] xxhomey19 commented on #37
Hi @fenek5 ,
this will be nice, but it seems duplicated with `nba-go --help`? Do you means it should show `--help` when user doesn't enter any option or command?

[2017-11-11 19:34] fenek5 commented on #37
Yes it is what I mean, Oh I'm sorry I didn't seen it.

[2017-11-11 19:43] xxhomey19 commented on #37
It's OK!
To be frank, this is a good suggestion. Maybe you could try to let it show `--help` when nothing comes after `nba-go` and send a PR!

[2017-11-11 20:54] fuloating opened #38 "Are there similar tools for other sports?"
Sorry for a bit of off-topic, but I would have use for a similar tool for the english premier league football and NHL. I tried to search a bit but couldn't find anything witch such features like play-by-play. Only finding https://github.com/ecrmnn/epl-fixtures-cli and https://github.com/ryanburgess/nhl-cli

[2017-11-12 13:25] cacheflow commented on #3
As soon as this gets merged in the underlying API that's used, I'll implement the rest in here. https://github.com/bttmly/nba/pull/47

[2017-11-12 22:20] jhamet93 commented on #2
@cagross

If I'm not mistaken, there should be no delay between nba.com and nba-go because they're using the same api to obtain results. The nba-go code just renders the score in the response from the snippets I read so I don't believe this is a related issue

[2017-11-13 00:56] mkayen opened #41 "Unexpected Token Error issues upon running any command in terminal"
Running any command issues an Unexpected token error. I have not touched the code at all, I have only installed the code via npm.Thoughts on how to resolve?

nba-go game -d 2017/11/12

/usr/local/lib/node_modules/nba-go/node_modules/nba/src/team-info.js:28
  ]).then(function ([teamStats, teamYears]) {
                    ^

SyntaxError: Unexpected token [
    at exports.runInThisContext (vm.js:53:

[2017-11-13 02:15] xxhomey19 commented on #41
What is your node version?

[2017-11-13 02:24] mkayen commented on #41
4.2.6

[2017-11-13 02:31] xxhomey19 commented on #41
Upgrade it over 6.0.0, this issued should be solved.

[2017-11-13 02:46] xxhomey19 commented on #31
I prefer to show help description than `nba-go game`.
Reopen this issue if there is a better suggestion.

[2017-11-13 02:46] #31 closed

[2017-11-13 02:47] #37 closed

[2017-11-13 02:56] zhanghan328 opened #42 "what's wrong with me?"
I'm a new about node-js.
![88047fe2-ec56-448d-9801-d778fa37107c](https://user-images.githubusercontent.com/16316669/32707787-4328fd2e-c861-11e7-9cf2-178d9f49653f.png)

[2017-11-13 03:11] xxhomey19 commented on #42
Same as #41
Upgrade your node version over 6.0.0

[2017-11-13 03:25] mkayen commented on #41
Worked! Thank you!

[2017-11-13 03:25] #41 closed

[2017-11-13 06:26] ChristianLapinig opened #43 "Highlighting game highs for each category"
In the team box score, I know that it highlights the play with the most points as shown below

![screenshot from 2017-11-12 22-22-48](https://user-images.githubusercontent.com/11323135/32712242-5eff359a-c7f8-11e7-9217-ccae709855f3.png)

I was wondering if highlighting the high of each category would be cool.

[2017-11-13 06:39] #42 closed

[2017-11-13 06:47] xxhomey19 commented on #43
Hi @ChristianLapinig ,
well, actually, each category will be highlighted when its number is over its own standard (I decided the standard). For instance, MIN is 35, +/- is 15 and PTS is 20.
I'm not sure whether this is a good way or not. Maybe people want to highlight the highest number of each category. This could have more discussions.

[2017-11-13 10:43] lin-credible commented on #8
+1

[2017-11-13 19:14] jhamet93 commented on #43
Personally, If I'm scanning the box score I would want the highest in each category highlighted. Not sure a hardcoded threshold is obvious to end users.

[2017-11-13 21:47] ChristianLapinig commented on #43
@xxhomey19 I or someone can work on this and send a PR if it's ok with you.

[2017-11-13 22:26] jhamet93 opened #44 "Remove team coloring"
This one is subjective but wanted to throw it out there:

Would you be open to removing the coloring of team names ? Can be super difficult to read in certain cases such as if the color chosen is yellow.

[2017-11-14 02:00] ivanmissu opened #45 "about chinese language"
my english is poor , consider chinese language package ?

[2017-11-14 02:22] xxhomey19 commented on #43
@ChristianLapinig

Sure, it's fine with me.

[2017-11-14 02:30] xxhomey19 commented on #44
@jhamet93

Actually, some people told me coloring team name is the best feature for nba-go 😆
I understand it may be difficult to read when the background color is too bright and the font color is white. Thus, I have two suggestions. First, add another option to control coloring. Second, let font color be black if the background color is too bright.
Feel free to have more discussion about this!

[2017-11-14 02:34] xxhomey19 commented on #45
@ivanmissu

of course, but that will be a tough work.

[2017-11-14 02:42] ivanmissu commented on #45
thanks for contribution

[2017-11-14 02:42] ivanmissu commented on #45
@xxhomey19 thanks for contribution

[2017-11-14 02:55] xxhomey19 commented on #45
I think this is low priority for me. This won't be done in the near future.
Furthermore, some terms are translated differently between simplified Chinese and traditional Chinese. I prefer to develop traditional Chinese first.

[2017-11-14 04:21] xxhomey19 opened #46 "error log"
[code]

[2017-11-14 17:43] cagross commented on #2
OK.  During the day I did a little more testing and wasn't able to replicate the issue.  So I guess I'll continue working on resolving my specific issue.

Here is the testing I did.  It is currently now 12:40 AM on 15 November, Thailand time.  Within the past 12 hours I ran game -t and game -y at three different times.  Here are the results (all time stamps are Thailand time):

14 Nov 1:13 PM
game

[2017-11-15 23:51] ChristianLapinig commented on #44
I was thinking of having the team name either in it's secondary/primary color. For example, Warriors would be yellow background with blue text (or vice versa depending on the background that's already set), Magic would be blue background black font, etc.

[2017-11-16 10:09] westeross opened #49 "Can't install on node.js v8.9.1"
I recently installed `node.js version 8.9.1` since then nba-go doesn't work.
I tried installing commander.js but nothing happened, and also tried with 'sudo'
I'm on macOS High Sierra.
Thanks.

[code]

[2017-11-16 10:38] xxhomey19 commented on #49
That's weird 😕
Could you install it again, and clear npm cache?

[2017-11-16 12:39] fenek5 commented on #49
Well...
`$ - npm cache clear`
[code]

[2017-11-16 12:53] xxhomey19 opened #50 "Online demo"
Perhaps, having a online demo (playground) website would be nice.

[2017-11-16 22:13] ayush opened #52 "Feature Request - Compare players"
It'll be nice to be able to compare stats of two or more players.

I'd imagine the interface would show "overall playoff" and "overall regular" stacked and green out the one with "better" stats. It could also show the basic info both both players stacked.

[2017-11-16 23:33] jhamet93 commented on #52
That's a good idea, a compare flag added to player that accepts a sequence of player names would be cool and then the existing player flags could be reused for playoff stats and/or team stats

[code]

[2017-11-17 02:36] ntk148v commented on #8
I have run script behind the proxy and faced this error. Anyone know the solution?

[code]

[2017-11-17 02:47] xxhomey19 commented on #43
#51

[2017-11-17 02:47] #43 closed

[2017-11-17 03:18] hkongm commented on #45
consider add the localization setting?

[2017-11-17 05:54] xxhomey19 commented on #45
@hkongm
That would be good.

[2017-11-17 12:57] fenek5 commented on #49
Did  someone have a solution please?

[2017-11-17 13:32] jzferreira commented on #49
Hi @fenek5

I just installed normally here and I'm using a mac OS high Sierra too. I'm using nvm to install node v8.9.1 (Now using node v8.9.1 (npm v5.5.1)) and after that npm install -g nba-go.

I couldn't see the real reason for the problem just based on the log that you shared. Sorry for that.

[2017-11-17 13:42] fenek5 commented on #49
Well, here's the thing, I installed nvm after nba-go maybe that's why ?

Screen :
http://www.giphy.com/gifs/xUOxfabddd1wEwYMne

[2017-11-17 15:05] jzferreira commented on #49
No...use this command: `which node` and sees path of node binary.

If you are using nvm then something like this will appear: /\<your user path\>/.nvm/versions/node/v8.9.1/bin/node

With NPM you can do the samething `which npm`
/\<user path\>/.nvm/versions/node/v8.9.1/bin/npm

So, you can follow these steps:

1. nvm install v8.9.1
2. npm install -g nba-go

You don't need to be root to do that.

no

[2017-11-20 05:24] Kthulu120 commented on #45
I mean we can have a short term solution in google translate (translation may be spotty) if using localization setting isn't enough

[2017-11-22 00:23] jzferreira commented on #49
@fenek5

So, everything's ok now?

[2017-11-22 08:17] fenek5 commented on #49
So as I said, it doesn't work for me on node.js version 8.9.1, but it does very well on version 6.12.0, I use nvm ``nvm use 6`` or ``nvm use 8`` to switch very quickly between the two version, but of course it works better on version 6 😀

[2017-11-22 15:42] xxhomey19 commented on #44
@ChristianLapinig

That will be great! I think this could be solved by developing [nba-color](https://github.com/xxhomey19/nba-color). Although it isn't good enough now, it could have more APIs like `getFontColor()`. Then, `nba-go` could use it just by calling API.

[2017-11-30 06:05] jessie-zly opened #57 "RequestError LOG"
## Windows, bash
## Firstly, I'm in China, and already install nba-go.
But when I ` NODE_ENV=development node bin/cli.js game -y` , response like this:

[code]

network problem?

[2017-12-03 09:47] MrLuisAmador opened #59 "Display the network that the game will be on"
Does this display the network that the game will be on? I search Google to see what games will be on for the week and also on what network they will be live on. I don't have NBATV. I only watch games on ESPN or TNT so that's what I'm normally searching Google for.

[2017-12-03 10:30] xxhomey19 commented on #59
Hi @MrLuisAmador
The API I used does have this information, so this feature should be easy to accomplish. I’m busy these weeks, so PR is welcomed!

[2017-12-04 02:52] xxhomey19 commented on #57
Hi @jessie-zly,
`ETIMEDOUT` means your request is timing out because server is not responding.
It looks similar to #8 . Are you behind proxy?

[2017-12-04 18:52] ayush opened #60 "Feature request - Sort future game schedule by most competitive"
## Motivation
With so many games each day, it'll be good to know which games are potentially the "most competitive". This could help choose which game to watch.

## How
One way to measure competitive game could be differential in `WIN%`. The lower the differential of `WIN%` between two teams, the more the chances of those teams being evenly matched.

[2017-12-07 03:59] xxhomey19 commented on #60
Hi @ayush

Would you like to take this feature? 😄

[2017-12-07 05:46] ayush commented on #60
@xxhomey19 I'd love to but strapped for time these days :grimacing:

[2017-12-08 07:54] CharlesStocky commented on #50
I'd be interested in contributing

[2017-12-20 14:01] cagross commented on #2
Hi.  Are you still interested in a resolution to this issue?  I have some spare time now and can continue working on it if you'd like.

[2017-12-22 03:10] #27 closed

[2018-01-23 19:58] qorrect commented on #11
Everything else works, just sad to not have those symbols

[2018-01-24 13:50] #2 closed

[2018-01-24 13:50] #28 closed

[2018-01-26 15:11] justinrsmith commented on #59
Is this something desired on the Schedule listing or when an actual game is selcted? Or both? I may try to tackle this.

@MrLuisAmador @xxhomey19

[2018-01-26 16:34] xxhomey19 commented on #59
I think on game schedule would be better.

[2018-01-26 16:48] justinrsmith commented on #59
Cool I will look at doing that. I did add it in the game preview just as I was playing around getting familiar with the codebase. Just in case you want to see what I was thinking. I won't keep it in for now though.

<img width="349" alt="screen shot 2018-01-26 at 10 46 45 am" src="https://user-images.githubusercontent.com/3534132/35450699-64a2426c-0286-11e8-9956-7ed979ae2b4a.png">

[2018-01-26 16:56] xxhomey19 commented on #59
That's cool. For game preview, I think keep the network information there would be great.
So, this information would be shown in two place.
1. game schedule
2. game preview

Is that okey?

[2018-01-26 17:02] justinrsmith commented on #59
Sounds good to me. I will keep you posted.

[2018-01-30 01:54] justinrsmith commented on #59
Still working on implementing it for the game schedule view. Right now it will always show the broadcast by default. The broadcast names can get quite lengthy and almost double the size of the schedule table (see attached). I am thinking maybe it should be an option the user can provide. What do you think? @xxhomey19

<img width="1282" alt="screen shot 2018-01-29 at 7 26 32 pm" src="https://user-i

[2018-01-30 03:18] xxhomey19 commented on #59
Yeah, that's a bit too lengthy. Providing a option to show these will be great!
So does showing these lengthy information in preview page look okay?

[2018-01-31 00:59] justinrsmith commented on #59
Game preview looks ok I think since there is a fair amount of room to work with there (see attached). I am working on getting it set up for live game and completed game when I have some time. I will show you when I have that ready.
<img width="1038" alt="screen shot 2018-01-30 at 6 56 31 pm" src="https://user-images.githubusercontent.com/3534132/35599675-91ce78b6-05ef-11e8-8371-8d6185481cd2.png">

[2018-01-31 02:37] MrLuisAmador commented on #59
@justinrsmith

This is great! I continuously review the TV network through Google Search at least every other day so this feature is very useful to me and I'm sure others.

[2018-01-31 03:24] xxhomey19 commented on #49
It seems solved.

[2018-01-31 03:24] #49 closed

[2018-02-01 19:51] DoubleB123 commented on #8
I may have solved this issue. First of all, your environment variables $http_proxy, $https_proxy, $HTTP_PROXY, and $HTTPS_PROXY will need to be set correctly since the nba-stats-client package uses the request package which accesses the environment variables. This isn't enough though, I traced the proxy issues back to /nba-go/node_modules/nba/src/get-json.js. It uses node-fetch to access the stats

[2018-02-03 00:33] DoubleB123 commented on #52
Is anyone else already working on this? I want to start contributing to this project and this seems like a good place to start.

[2018-02-08 00:20] DoubleB123 commented on #8
@xxhomey19 Do you have any ideas on how to implement this change?

Ideally we add a command like: nba-go proxy "http://......" and it would automatically update the code and add in the proxy, but I don't know how to do this since it requires modifying the source code of the nba module which we don't have control over. If the user were to reinstall the modules, the proxy changes get removed.

[2018-02-09 00:59] justinrsmith commented on #59
Just wanted to check in on this. Broke out what I have done so far below. One thing to note is how I handled national broadcasts vs local broadcasts. What I do is always use the local broadcast network but if there is no local broadcast network then I check the national broadcast network and if there is one I list that. If there are neither local or national for some reason I list N/A as the broad

[2018-02-09 02:09] DoubleB123 commented on #52
I've implemented comparison for the info option, now need to do it for the regular season and playoff stats but want some feedback first. I changed the code slightly so now you can enter player names separated by commas in quotes and it will pull up their stats separately(top example in image below). If you add the compare flag it stacks the stats on top of each other (bottom example in the image)

[2018-02-09 02:27] ayush commented on #52
@DoubleB123 This is great. I love the stacked view.

Here is my reaction and thoughts:

- In the stacked view, it'll be nice to see the one with "better" stats in green. This will make it easier to scan and read.
- I'd imagine that, just like you have the stacked view above, for the playoff/regular season tables, each cell could have values for both players. And there too the one with "better" sta

[2018-02-09 02:58] xxhomey19 commented on #59
That's really awesome!!! Thanks for your contribution.
I have only one thought. The location of network in LIVE game is just a little bit strange. I prefer it 's placed below the stadium or above game date. Will this cause any inconvenience?

[2018-02-09 03:14] justinrsmith commented on #59
Nope I do not think that will be a problem at all. I will look into doing that.

[2018-02-09 16:06] justinrsmith commented on #59
Went ahead and made that change for the LIVE game as seen in the two screenshots below. Let me know what you think. If it looks good to you then I am going to work on some code cleanup and should have a pull request ready in a couple days.

<img width="1402" alt="screen shot 2018-02-09 at 9 58 01 am" src="https://user-images.githubusercontent.com/3534132/36036796-66d9fdf4-0d80-11e8-848c-5c4cc04817

[2018-02-10 01:33] tommymathan opened #65 "How to debug application <Help Wanted>"
Hey does anyone know how I could go about debugging this application, I come from a C# background, and I wanted to kind of learn more about node.js and I think this application would be a great application to step through and debug, so I was wondering , how would I do that through something like vscode?

[2018-02-10 02:02] xxhomey19 commented on #59
It looks great! Perfect!

[2018-02-17 06:01] dbucci24 opened #67 "Spanish Translation"
Hello! I would like to translate the project into Spanish! is it already translated?

[2018-02-20 23:12] DoubleB123 commented on #65
Setting up basic breakpoints is easy. Just write the line
  `debugger;`
where you want the break point. Then when you run the program use node inspect, for an example run this from your command line in the nba-go folder:
`NODE_ENV=development node inspect bin/cli.js player -r  "lebron james"`

Then you can use "c" to continue till the next breakpoint and then you can type "repl" after reaching a b

[2018-02-21 00:00] DoubleB123 commented on #52
@ayush Got around to doing the stacked view for the regular season. Have any feedback?

![nba_reg](https://user-images.githubusercontent.com/36014115/36455868-f8935022-1656-11e8-983d-a80d11dde0ac.png)

[2018-02-21 00:16] ayush commented on #52
@DoubleB123 🙌  I love it!

The only feedback I have is that when I look at it I have to scan the table to figure out which player has the most overall strength in a given dimension (column). Do you think it makes sense to call out the best player for each dimension (column)? The best being simply the most greens in that column (only across rows which have data for all the players being compared)

[2018-02-21 00:37] ayush commented on #52
Great! Now that I think about it, in that row with initials, you could list initials for all players being compared from best to worst with the best being in green. I guess that answers the question, "which player is the best in a given dimension?".

But what about the question, "by how much is a player better in a given dimension?". For that the "overall row" makes sense. I'd imagine you'd put av

[2018-02-22 03:01] #59 closed

[2018-02-22 03:05] xxhomey19 commented on #67
Hi @dbucci24
Actually, the data isn't translated to any language except English. It'll be awesome if it's translated to more different languages!

[2018-02-22 03:07] xxhomey19 commented on #12
Same as #59

[2018-02-22 03:07] #12 closed

[2018-02-22 03:20] dbucci24 commented on #67
Yes I can do it. but I need you to be active to check my pull requests and give merge, as much as possible every day. Could be?

[2018-02-22 03:35] xxhomey19 commented on #67
I'm afraid I couldn't review PR everyday, but I promise I will do it as soon as possible.

[2018-02-22 06:06] MrLuisAmador commented on #59
@xxhomey19 @justinrsmith

I'm testing the area "which game do you want to watch" and I'm not seeing the broadcasts channel like in the above image demo.

![testing](https://user-images.githubusercontent.com/6766589/36522801-87a059de-176c-11e8-9d24-ee95d08a90ef.png)

[2018-02-22 12:56] justinrsmith commented on #59
@MrLuisAmador glad you got it. I agree with @xxhomey19 that it should be option purely due to how wide it can make the table depending on screen/terminal size it could cause some issues. We can always revisit later if that is something that is decided it should always show.

[2018-02-23 06:23] MrLuisAmador commented on #59
@justinrsmith, thank you for adding this feature in the first place. Wish I could contribute but I just can't wrap my head around the code. I'll keep messing around until I get a grip on how the source code works.

@xxhomey19 Thank you too for such a great cli tool.

[2018-02-23 13:06] justinrsmith commented on #59
@MrLuisAmador You are welcome. Ya it took me a bit of time to get my mind around it too. Definitely was a learning experience!

[2018-02-24 09:06] jessie-zly commented on #57
ok now, just because of the network

[2018-02-24 17:01] #57 closed

[2018-03-01 16:14] TechGameTeddy commented on #50
has there been an update to this? I wanna jump in on the mix and help out if I can

[2018-03-02 03:56] xxhomey19 commented on #50
It has been almost three months without new update, so I think it's okay for you to tackle it.

[2018-03-05 16:03] TechGameTeddy commented on #50
Challenge Accepted

[2018-03-06 16:50] TechGameTeddy opened #68 "Install failed due to npm ERR! uglifyjs-webpack-plugin@0.4.6 postinstall: `node lib/post_install.js`"
Getting an error when trying to run nba-go from Ubuntu 16.04
error logs to me look like its because its nto installing post_install.js
Should that be installed seperately before installing nba-go?
Currently installed
npm version  3.5.2
nodejs version v4.2.6

==============================================================
sudo npm install -g nba-go
▐ ╢░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

[2018-03-06 16:57] TechGameTeddy commented on #68
Quick searching and installed  nodejs-legacy and after than I was able to run it again and it installed.
==========================================================================
sudo npm install -g nba-go
▐ ╢░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟
WARN engine nba-go@0.3.0: wanted: {"node":">=6.0.0"} (current: {"node":"4.2.6","loadRequestedDeps         ▐ ╢████

[2018-03-12 15:33] #68 closed

[2018-03-12 15:34] TechGameTeddy commented on #50
Ive got a few ideas on getting this going but may have some questions soon

[2018-03-19 07:02] acifani commented on #38
Hi @fuloating, I just started working on a soccer version of nba-go. You can find it here  https://github.com/acifani/soccer-go. Although It's not very stable it still has a lot of the core functionalities that one would expect. Contributions are very welcome!

About that - if @xxhomey19 has any feedback I would love to hear them.

[2018-03-21 06:17] #52 closed

[2018-03-22 19:28] qorrect commented on #3
Whats the word on this, anything I can do to help ?

[2018-04-12 00:57] 14u2ponder opened #71 "Does this program require a GUI"
I am just asking because I run a shell-only enviornment and this requires me to install node.js so I'd like to know if node.js requires X, X server, or something else to work.

[2018-04-12 02:46] xxhomey19 commented on #71
I think it only needs `Node.js` and `npm`. Otherwise, you can run it by docker or download pkg files. Check [install section](https://github.com/xxhomey19/nba-go#install) in README.

[2018-04-12 19:07] nwisniowski commented on #3
@xxhomey19 I noticed that the data folder is populated with outdated JSON data and I'm curious if this is because you're never actually storing the data after scraping it and instead just printing it to command line. Any insight would be helpful.

[2018-04-12 19:07] nwisniowski commented on #5
@xxhomey19 I noticed that the data folder is populated with outdated JSON data and I'm curious if this is because you're never actually storing the data after scraping it and instead just printing it to command line. Any insight would be helpful.

[2018-04-15 01:36] sbugryn commented on #65
I am in the same situation as OP, want to to try to work on some of the open issues to get experience with node.js, but I am having some trouble understanding the flow of the program. I see cli.js is the first thing that runs, but I am confused on what happens next. Where is nbaGo.player(name, option) located?

Thanks in advance for any help.

[2018-04-15 15:28] sbugryn commented on #20
I think I have this issue fixed, since it is only the ampersand that shows up I did the following:
${arena.replace(/&amp;/g,"&")}

[2018-04-18 16:26] xxhomey19 commented on #71
@14u2ponder
Hey I just release a menubar app called [NBA Bar](https://github.com/xxhomey19/nba-bar). It has a better GUI and easy to use. It doesn't need any dependencies, just download .dmg or .exe file, then you can use it. Hope this could help.

[2018-04-25 00:43] jstallm opened #73 "nba-go player stephen curry -r returns more than one table"
Should return only one table. INstead shown below, it shows two, one for a player "Lance Stephenson "
PS C:\WINDOWS\system32> nba-go player stephen curry -r
╔═════════════════════════════════════════════════════════════════════════════════════════════╗
║                           GSW #30 Stephen Curry │ Regular Season                            ║
╟─────────╤──────╤─────╤─────╤──────╤──────╤──────╤

[2018-04-25 00:44] jstallm commented on #73
Lance Stephenson doesnt even meet the search criteria either, which is confusing

[2018-04-26 01:54] qorrect opened #74 ""Live" styled replay"
Has anyone talked about implementing replays ?  I searched but I couldn't find it.

[2018-04-26 02:40] #71 closed

[2018-04-27 08:30] xxhomey19 commented on #74
Hey @qorrect
Could you describe more about what does "replay" look like? This may help others to implement it.

[2018-04-27 08:49] xxhomey19 commented on #73
Hi @jstallm
I call `searchPlayers()` to search for the players by you input. I found that it use [`includes()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes) to filter players list, so I guess why `Lance Stephenson` shows is because `Stephenson` includes `stephen`.

[source code](https://github.com/bttmly/nba/blob/master/src/index.js#L61)

[2018-05-07 14:11] qorrect commented on #74
I'd like to add an extra option to show a replay of a game , using the playlist 'clock' element.  I have a prototype - that shows a 'sped up' replay, but I'm unsure where to put the option to show a replay.

I could add a handler that when 'R/r' is pressed on an old game it shows the replay ( and enter shows the summary ) , what do you think ?

[2018-05-12 17:34] tmeralus commented on #50
working (hopefully) this weekend on setting up the environment with heroku and the https://nba-go.live domain. If anyone wants to assist in the web version, please let me know.

Current issues:
Choosing the proper option message to deliver data:

Option 1:
Work on the logic for understanding the user’s commands happen in the page’s JavaScript, then execute different API requests based on what was

[2018-05-18 02:10] garyking opened #75 "Error if no games on selected date"
For instance, today there are no games. So I run `ng g -t`. I can't select any games since there are none. It still asks me `Which game do you want to watch?` so I just hit `Enter`, and then I get `TypeError: Cannot read property 'value' of undefined`.

[2018-05-18 05:16] xxhomey19 commented on #75
Thanks for report! I have confirmed this is a bug.
Should print `No game available on this date.` in this situation.

[2018-05-21 16:16] garyking opened #76 ""npm ERR! peer dep missing: ajv@^6.0.0, required by ajv-keywords@3.2.0""
After installing with `npm -g i nba-go`, I get the following whenever I run `npm list --global --depth=0`, at the bottom of the list (the message appears twice):

[code]

Can this module please resolve this? Even running `npm -g i ajv` doesn't resolve this for me.

[2018-06-04 20:44] tmeralus commented on #50
cant seem to find the time to finish this. Im going to fall back.

[2018-06-09 22:05] nbcr commented on #46
Same, on Windows 10 x64 Version	10.0.16299 Build 16299. Node is installed and most other features, like player info work. Anyone else seeing this?

[2018-06-09 22:20] nbcr commented on #46
Found the issue. I was using the .exe found in releases. However if I install it using npm then it installs and runs fine. Just erase that .exe, you don't need it.

[2018-06-20 18:39] nick-thomas commented on #73
Hi Homer, I'd like to fix this issue. Do you mind?

[2018-07-03 18:12] nick-thomas commented on #73
Hi @xxhomey19 , I'd like to fix this issue. Do you mind?

[2018-10-17 02:00] fralonra opened #79 ""UnhandledPromiseRejectionWarning" in git bash"
When I ran `nba-go g` in a git bash tool on WIN10, the following error occurred:
[code]
It seems that the `window-size` package is undefined.
The error didn't come up when using other CLI tool, like PowerShell and VSCode.

I'm using:
[code]

[2018-10-18 06:03] ericpardee commented on #79
Same here:

epardee@nhan7: ~$ nba-go game
[code]

[2018-10-25 04:35] njomb commented on #79
Same deal here:

njombwe@NJOMBWE-M-G1AS:~/Downloads/nba-go-master$ ./run.sh

 ██████╗   ██████╗   ██╗  █████╗      ██╗  ██╗  ██████╗      ██╗ ██████╗  ███████╗
 ╚════██╗ ██╔═████╗ ███║ ██╔══██╗    ██╔╝ ███║ ██╔═████╗    ██╔╝ ╚════██╗ ██╔════╝
  █████╔╝ ██║██╔██║ ╚██║ ╚█████╔╝   ██╔╝  ╚██║ ██║██╔██║   ██╔╝   █████╔╝ ███████╗
 ██╔═══╝  ████╔╝██║  ██║ ██╔══██╗  ██╔╝    ██║ ████╔╝██║  ██╔╝   ██╔═══╝

[2018-10-25 16:12] qorrect commented on #79
stats.nba.com not coming back from the command line, if you paste that into a browser you'll notice it does return data.  Might have to mess with the headers to trick nba.com into thinking its a desktop request

[2018-10-27 23:57] NotNate commented on #79
This issue happens with me too. Same error.

[2018-12-29 04:12] aviskarkc10 commented on #2
This problem is still not solved. I have problems seeing the results of today. I live in Asia and whenever the clock hits 12:00am in LA, I will get tomorrow's fixtures rather than getting to see the results of today even though the game has been played today for my location.

I propose handling this the way the stats.nba.com website does whenever user gives the `-t` flag.
We can call this endpoint

[2019-01-11 23:43] machiiine commented on #79
I was able to resolve it by adding two headers getHeaders() method from the NbaStatsClient.js lib

'Connection': 'keep-alive'
'Accept-Language': 'en-US'

[2019-01-12 02:06] qorrect commented on #79
Adding these headers worked for me too :

`		 'Connection': 'keep-alive',
		 'Accept-Language': 'en-US'`

in NbaStatsClient.js in the nba-stats-client package, probably need to let them know.

[2019-01-12 05:42] simonkeng commented on #79
Also having this issue:

`nba-go g`

[code]
I'm using macOS High Sierra 10.13.4 17E202 x86_64 with iTerm2. @qorrect, I made the edit you recommended, but it didn't seem to work for me (although I'm not a regular npm user or node developer, so it's probably my lack of knowledge). I ran `npm run build` in `nba-go/` but got this error:

[code]
Any help is much appreciated, I LOVE this project, thank

[2019-01-12 19:06] qorrect commented on #79
@simonkeng this is how im building

- Clone the repository to ~/nba-go
- in ~/nba-go run : `npm install `
- Now youd have to edit that dependency in node_modules/nba-stats-client , this needs to be fixed in that lib properly to work
- run `npm run build`
- now the build is in lib/cli.js , run with `node lib/cli.js g -y`

[2019-01-12 22:36] simonkeng commented on #79
Hi @qorrect, thanks so much for showing me the steps you took! I went through it and everything appeared to run properly, but mine is still hanging at `Loading Game Schedule`

Below is the edited code block I made in `/nba-go/node_modules/nba-stats-client/build/NbaStatsClient.js`

[code]

`cd` back up to `nba-go/` and run:

[code]
Then
[code]
..and its hanging here.

The only difference is that I

[2019-01-13 00:57] simonkeng commented on #79
Okay, very confusing... It was working at the coffee shop, but now back home:

[code]

[2019-01-15 08:51] xxhomey19 commented on #2
Hi @aviskarkc10
I faced this issue in another project, and here is the [implementation](https://github.com/xxhomey19/nba-bar/blob/master/renderer/utils/getApiDate.js). It works perfectly so far. I might copy that file to here. What do you think?

[2019-01-15 08:56] aviskarkc10 commented on #2
If that works it will be great because the solution I suggested completely deviates from how data is fetched in the application at the current time. Let me test with your implementation and get back to you.

[2019-01-23 15:13] HsuanTingLu commented on #50
how should the demo site be like?
a terminal emulator?

[2019-01-23 23:11] xxhomey19 commented on #50
@HsuanTingLu Yeah if it's feasible.

[2019-01-24 07:05] HsuanTingLu commented on #50
I think [Xterm.js](https://xtermjs.org) can do this since VScode provides its integrated terminal with it

[2019-03-11 21:36] saeranv commented on #79
I'm having this problem as well. I'm trying to solve it with @qorrect's method, however it's failing at the npm install step, with the following message:

[code]

Any ideas what could be wrong?

S

[2019-03-11 21:44] qorrect commented on #79
This is actually unrelated to the problem, its a build issue with NPM, googling on it seems to have found https://stackoverflow.com/questions/21855035/ssl-error-cert-untrusted-while-using-npm-command

[2019-03-12 00:13] saeranv commented on #79
Okay, so having successfully followed @qorrect's instructions, now I'm running into this error when running `node lib/cli.js g -y`:
[code]

I've run it twice and I'm getting the same message.

[2019-04-27 21:21] Tintef commented on #60
@xxhomey19 Did someone took this feature? I would like to implement it

[2019-05-07 09:35] 1yzz opened #83 "[Bug] In live mode, when a quarter has ended, it will not enter the next quarter."
like when Q3 ended, Q4 will not begin. It will stay at Q3 00:00

[2019-05-07 09:40] 1yzz commented on #45
Visit https://china.nba.com/static and you'll find useful data.
https://china.nba.com/static/data/game/playbyplay_0041800224_4.json
i18n would not be that hard to implement (maybe add a map to player name, team name and event type and that sort of things), but this just seems unnecessary.

[2019-05-09 03:20] lili21 opened #84 "stuck in Loading Game Schedule"
the `Loading` never end, I can visit `stats.nba.com`,

[2019-07-10 00:02] CesarPZ commented on #5
I would like to address this issue, I will publish a PR

[2019-07-10 05:56] lordmaster11 commented on #5
I add the link to the PR: https://github.com/CesarPZ/nba-go/pull/2

[2019-09-04 15:39] tmeralus commented on #50
I have found this which might be what your looking for.
Get a playground for your GitHub project for free

https://welcome.rootnroll.com/

This actual site is made from https://tilda.cc/tpls/
which may be helpful.

[2019-10-31 00:02] Fermats-Last-Account commented on #84
I am having this same issue. Where you able to resolve it?

[2019-10-31 10:19] lili21 commented on #84
never resolved it.

[2019-11-07 02:41] bobclewell commented on #84
Same. :(

[2019-11-26 06:18] ibeizhu commented on #84
Same. :(

[2019-12-12 08:52] chocnut commented on #84
what happen to this?

[2019-12-12 09:06] Fermats-Last-Account commented on #84
Was never able to get the issue fixed in PopOS (Ubuntu based). Later tried it on Arch and it worked on the first try without any problems.

[2019-12-29 20:45] jimmyshah opened #89 "Installation issues"
Hey! I've tried to install nba-go, but I'm running into the same error using both npm and the docker container. Any help or guidance would be sincerely appreciated!

<img width="848" alt="Screen Shot 2019-12-29 at 3 44 15 PM" src="https://user-images.githubusercontent.com/18747958/71562688-14086200-2a52-11ea-978f-8654faa6a894.png">

[2020-02-01 15:56] andrew222651 commented on #84
Even the binary doesn't work (Ubuntu 18)

[2020-08-19 02:25] hehu321 opened #93 "NBA.getGames() goes wrong."
NBA.getGames() goes wrong.

[2020-08-20 02:23] lili21 commented on #93
Similar issue
[code]

[2020-08-23 19:02] coolyoungdad commented on #93
+1 - same error as the above

[2020-08-23 19:07] HeribertoKubuntu commented on #93
Same error, help us!!!

[2020-08-30 18:43] lizzykerrigan commented on #93
Seems like they've changed the API endpoint since about March - any date beyond the 16th of March 2020 either redirects to that day's scoreboard or returns a 404. http://data.nba.com/data/5s/json/cms/noseason/scoreboard/20200328/games.json

Wonder if someone could fork this or the nba-stats-client package and point it to the V2 endpoint? https://data.nba.net/prod/v2/20200830/scoreboard.json

EDIT:

[2021-01-02 01:06] jiajiarui202 opened #96 "Cannot read property 'sports_content' of undefined"
TypeError: Cannot read property 'sports_content' of undefined

Oops, NBA.getGamesFromDate() goes wrong.
Please run nba-go again.
If it still does not work, feel free to open an issue on https://github.com/xxhomey19/nba-go/issues

[2021-02-16 10:43] kerimay commented on #93
same here. would be glad if this issue can be solved, i want to use it

[2021-04-05 17:05] bdanzig commented on #60
Hi, I'd like to implement this feature - can I have commit access so I can do so?

[2022-03-03 03:24] kars0n777 commented on #96
Same issue here

[2022-03-13 01:19] Mioni opened #111 "Please update :("
I love this project, is there no possibility of you coming back? 😁

[2022-04-27 00:03] ElCarlillos commented on #60
Hi!, I would like to implement this feature, can i?, is it still open?

[2022-10-19 01:04] Denwen12 opened #114 "Can this be updated"
It's broken

[2022-10-23 08:46] Denwen12 commented on #114
i did try to fix it but it  breaks the output i tryed editing positions and split the positions on line 111 like dk but it wasnt a go for me

[2022-11-13 09:02] np1717 commented on #96
Same here :(

[2022-11-13 09:09] np1717 opened #116 "Please come back to update"
I do love this project though I've never used it before